body {
    background-color: dimgrey;
}

.container {
    background-color: white;

}


.subContainer {
    width: 100%;
    background-color: dimgrey;
    height: 100%;
    padding: 16px;
}

.inner {
    width: 30%;
    height: 20%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 30%;
    float: left;
    text-align: center;
    padding: 16px;
    color: white;
}

.table {
    display: inline-block;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
